html, body{
	overflow-x: hidden; /* prevents horizontal scroll bars */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
	height: 100%; /* fixes focus scrolling in Safari (OS X) */
}

/* Lists */

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li > a .fa {
	float: right;
}

/* Container */

.pushy-container{
	position: relative;
	height: 100%;
}

/* Menu Button */

.pushy-btn-direction {
	position: relative;
	height: 50px;
	text-align: right;
}

.pushy-btn-direction > div {
	position: absolute;
	left: 0;
	right: 100%;
	text-align: right;
	transition: all 1s;
}

.pushy-btn-direction.to-right > div {
	position: absolute;
	left: 0;
	right: 0;
}

.pushy-menu-btn{
	display: inline-block;
	width: 100px;
	padding: 10px;
	background: #000;
	color: #FFF;
	text-align: center;
	cursor: pointer;
}

.pushy-menu-btn:hover{
	background: #00b4ff;
	color: #FFF;
}

/* Content */
#content {
	padding: 20px 40px;
}